
$primaryColor: #000033;
$secondaryColor: #326B9B;
$thirdaryColor: #5e5ed7;
$transparentbackground: hsla(0, 3%, 23%, 0.3);
$backgroundImage: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F003%2F375%2F985%2Foriginal%2Fspace-galaxy-background-free-vector.jpg&f=1&nofb=1&ipt=cdf14f5567f638ddbe77cc0343164c2f6cc9d9819c9652aa9d47ed2b4045f14d&ipo=images);


$media_queries : (
    "tablet" : unquote("only screen and (min-width: 768px)"),
    "desktop" : unquote("only screen and (min-width: 992px)"),
    "largeDesktop" : unquote("only screen and (min-width: 1200px)")
);

@mixin for_breakpoint($breakpoints) {
    $conditions: ();
    @each $breakpoint in $breakpoints {
        $conditions: append(
            $conditions,
            #{inspect(map-get($media_queries, $breakpoint))},
            comma 
        );
    }

    @media #{$conditions} {
        @content;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


