* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
.loading-page {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
  position: fixed;
}
.loading:before,
.loading:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loading:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

.launch-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  padding: 1rem;
  margin: 1rem auto;
  background-color: hsla(0, 3%, 23%, 0.6);
  backdrop-filter: blur(4px);
  border-radius: 30px;
}
.launch-detail-info {
  width: 60vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.launch-detail-info h1 {
  font-size: 8vw;
}
.launch-detail-info-text {
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  margin: 2rem;
  gap: 1rem;
}
.launch-detail-info-text p.card-countdown {
  font-size: 7vw;
  font-weight: bolder;
  color: #fff;
}
.launch-detail-info-text-wiki a {
  font-size: 5.5vw;
  text-decoration: none;
  color: #fff;
}
.launch-detail-info-text-location {
  font-size: 5.5vw;
  max-width: 60vw;
  margin: auto;
}
.launch-detail-info-image {
  width: 60vw;
  max-width: 350px;
  height: auto;
  padding: 0.2rem;
  background-color: black;
}
.launch-detail-info-location a {
  text-align: center;
  text-decoration: none;
  color: black;
}
.launch-detail-info-location-image {
  max-width: 60vw;
  height: auto;
  padding: 0.2rem;
  background-color: black;
  border-radius: 5%;
}
.launch-detail-mission {
  width: 100%;
  margin: 2rem auto;
  font-size: larger;
}
.launch-detail-mission h2 {
  text-align: center;
  font-size: 8vw;
  color: #fff;
}
.launch-detail-mission p {
  padding-top: 1rem;
  text-align: center;
  font-size: 6vw;
  line-height: 1.5;
  color: #fff;
}
.launch-detail-agency {
  display: flex;
  justify-content: center;
  width: 100%;
}
.launch-detail-agency-logo {
  width: 80vw;
  max-width: 250px;
  height: auto;
  margin-top: 1rem;
}
.launch-detail-video {
  position: relative;
  overflow: hidden;
  width: 60vw;
}
.launch-detail-video::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}
.launch-detail-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.launch-detail-update {
  margin: auto;
  width: 100%;
  height: 38vh;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: scroll;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
}
.launch-detail-update-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border: 5px solid black;
  border-radius: 5%;
  height: 20rem;
  width: 30%;
}
.launch-detail-update-child-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.launch-detail-update-child-text p {
  font-size: 1.5vw;
  text-align: center;
}
.launch-detail-update-child-image {
  width: 15vw;
  padding: 0.2rem;
  background-color: black;
  border-radius: 60%;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-container .card {
  border: 1px solid hsl(0, 2%, 46%);
  border-radius: 20px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  margin: 10px;
  text-align: center;
  text-decoration: none;
  max-width: 60vw;
  background-color: #fff;
}
.card-container .card-image {
  width: 60vw;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 10px;
}
.card-container .card-text {
  color: #000;
  font-size: 3.5vw;
}
.card-container .card-text .card-countdown {
  font-size: 5vw;
  font-weight: bolder;
  width: 100%;
  height: auto;
  margin: 1rem auto;
}
.card-container .card-title {
  font-size: 6vw;
  text-decoration: none;
  color: #000;
}
.card-container .card-title:visited {
  color: #000;
}
.card-container .card-company {
  margin-top: 1rem;
}
.card-container .card-location {
  margin: 10px;
}
.card-container .card-location a {
  font-size: 3.5vw;
  text-decoration: none;
  color: #000;
}
.card-container .card a {
  text-decoration: none;
}

body {
  background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.vecteezy.com%2Fsystem%2Fresources%2Fpreviews%2F003%2F375%2F985%2Foriginal%2Fspace-galaxy-background-free-vector.jpg&f=1&nofb=1&ipt=cdf14f5567f638ddbe77cc0343164c2f6cc9d9819c9652aa9d47ed2b4045f14d&ipo=images)
    fixed;
}

.nav {
  background-color: #000033;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}
.nav .site-name {
  font-size: 2rem;
}
.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.nav li.active {
  background-color: #555;
}
.nav li:hover {
  background-color: #777;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
} /*# sourceMappingURL=main.css.map */
