.card-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    

    .card {
        border: 1px solid hsl(0, 2%, 46%);
        border-radius: 20px;
        box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
        margin: 10px;
        text-align: center;
        text-decoration: none;
        max-width: 60vw;
        background-color: #FFF;

        &-image {
            width: 60vw;
            height: auto;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            margin-bottom: 10px;
        }

        &-text {
            color: #000;
            font-size: 3.5vw;
            

            .card-countdown{
                font-size: 5vw;
                font-weight: bolder;
                width: 100%;
                height: auto;
                margin:  1rem auto;
            }
        
        }
        &-title{
            font-size: 6vw;
            text-decoration: none;
            color: #000;

            &:visited {
                color: #000;
            }
        }

        &-company {
            margin-top: 1rem;
        }

        &-location {
            margin: 10px;

            a{
                font-size: 3.5vw;
                text-decoration: none;
                color: #000;
            }
        }

        a {
            text-decoration: none;
        }
    }
}