.launch-detail {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    
    &-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #{$transparentbackground};
        backdrop-filter: blur(30px);
        border-radius: 30px;
        width: 80vw;
        padding: 2vh;
        z-index: -1;

        h1 {
            font-size: 8vw;
        }
        
        &-text {
            display: flex;
            flex-direction: column;
            color: #FFF;
            text-align: center;
            margin: 2rem;
            gap: 1rem;

            p.card-countdown{
                font-size: 7vw;
                font-weight: bolder;
                color: #FFF;
            }

            &-wiki {
                a{
                    font-size: 5.5vw;
                    text-decoration: none;
                    color: #FFF;
                }
            }

            &-location {
                font-size: 5.5vw;
                max-width: 60vw;
                margin: auto;
            }
        }

        &-image {
            width: 60vw;
            max-width: 350px;
            padding: 0.2rem;
            background-color: black;
        }

        &-location {
            a {
                text-align: center;
                text-decoration: none;
                color: black;
            }

            &-image {
                max-width: 60vw;
                padding: 0.2rem;
                background-color: black;
                border-radius: 5%;
            }
        }
    }

    &-mission {
        margin: 2rem auto;
        h2 {
            text-align: center;
            font-size: 8vw;
            color: #FFF;
        }

        p {
            padding-top: 1rem;
            text-align: center;
            font-size: 4vw;
            line-height: 2;
            color: #FFF;
        }
    }

    &-agency {
        display: flex;
        justify-content: center;

        &-logo {
            width: 80vw;
            max-width: 250px;
            margin-top: 1rem;
        }
    }

    &-video {
        position: relative;
        overflow: hidden;
        width: 60vw;

        &::after {
            display: block;
            content: "";
            padding-top: 56.25%;
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

}


