.launch-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    padding: 1rem;
    margin: 1rem auto;
    background-color: $transparentbackground;
    backdrop-filter: blur(4px);
    border-radius: 30px;

    &-info {
        width: 60vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 8vw;
        }
        
        &-text {
            width: 80vw;
            height: auto;
            display: flex;
            flex-direction: column;
            color: #FFF;
            text-align: center;
            margin: 2rem;
            gap: 1rem;

            p.card-countdown{
                font-size: 7vw;
                font-weight: bolder;
                color: #FFF;
            }

            &-wiki {
                a{
                    font-size: 5.5vw;
                    text-decoration: none;
                    color: #FFF;
                }
            }

            &-location {
                font-size: 5.5vw;
                max-width: 60vw;
                margin: auto;
            }
        }

        &-image {
            width: 60vw;
            max-width: 350px;
            height: auto;
            padding: 0.2rem;
            background-color: black;
        }

        &-location {
            a {
                text-align: center;
                text-decoration: none;
                color: black;
            }

            &-image {
                max-width: 60vw;
                height: auto;
                padding: 0.2rem;
                background-color: black;
                border-radius: 5%;
            }
        }
    }

    &-mission {
        width: 100%;
        margin: 2rem auto;
        font-size: larger;

        h2 {
            text-align: center;
            font-size: 8vw;
            color: #FFF;
        }

        p {
            padding-top: 1rem;
            text-align: center;
            font-size: 6vw;
            line-height: 1.5;
            color: #FFF;
        }
    }

    &-agency {
        display: flex;
        justify-content: center;
        width: 100%;

        &-logo {
            width: 80vw;
            max-width: 250px;
            height: auto;
            margin-top: 1rem;
        }
    }

    &-video {
        position: relative;
        overflow: hidden;
        width: 60vw;

        &::after {
            display: block;
            content: "";
            padding-top: 56.25%;
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &-update {
        margin: auto;
        width:100%;
        height: 38vh;
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        overflow: scroll;
        justify-content: space-evenly;
        gap: 1rem;
        align-items: center;

        &-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem;
            border: 5px solid black;
            border-radius: 5%;
            height: 20rem;
            width: 30%;
    
            &-text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 2rem;
    
                p {
                    font-size: 1.5vw;
                    text-align: center;
                }
            }
    
            &-image {
                width: 15vw;
                padding: 0.2rem;
                background-color: black;
                border-radius: 60%;
            }
        }
    }
}


